<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.railwayconcession.http.railwayconcession">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".NavigationDrawerActivity"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".ChangePasswordActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".EditStudentProfile" />
        <activity android:name=".NoticesActivity" />
        <activity android:name=".RailwayConcessionActivity" />
        <activity android:name=".ApplicationRequest" />
        <activity android:name=".ApplicationStatus" />
        <activity android:name=".AdminDashboard" />
        <activity android:name=".AdminRailwayConcessionActivity" />
        <activity android:name=".AdminBroadcastMessage" />
        <activity android:name=".BroadcastMessageActivity" />
        <activity android:name=".UploadNotices" />
        <activity android:name=".StudentDetails" />
        <activity android:name=".ForgetPassword" />
        <activity android:name=".CgpaCalculator" />
        <activity android:name=".ResultsActivity"></activity>
    </application>

</manifest>